@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --animate-delay: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
	scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.mouse {
	width: 22px;
	height: 31px;
	border: 2px solid #ffffff;
	border-radius: 60px;
	position: relative;
}
.mouse::before {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 1s infinite;
	-webkit-animation: wheel 1s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

.btn-shadow{
	box-shadow: rgb(99 102 241 / 0.5);
}
